* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  /* font-family: Century Gothic; */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw; 
  margin: 0 auto;
}
.box img {
  width: 500px;
  height: 250px;
}
.box {
  background-color: #a8aea5;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 7px;
}

.box-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.box-description {
  font-size: 16px;
  line-height: 1.5;
}

h1 {
  font-family: "Georgia", serif;
}

.tabelfasilitas {
  width: 100%;
  max-width: 100%;
  /* border-collapse: collapse; */
  border-radius: 10px;
  background: rgb(204, 204, 204);
  border: 0px;
}

.th1 {
  border: 0px;
}

.th1, .td1 {
  padding: 8px;
  text-align: left;
  border-radius: 10px;
}

.td1 {
  width: 33%;
  padding: 8px;
  text-align: justify;

}

.td1 img {
  width: 500px;
  height: 300px;
  border-radius: 10px;
}

.tabelfasilitas th:nth-child(2), td:nth-child(2) {
  border-left: 3px solid white;
  border-right: 3px solid white;
}

.tabel2 {
  background-color: rgba(0, 255, 255, 0);
  text-align: center;
}

.detail {
  font-family: "Tahoma"
}

.td2 img{
  width: 600px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.td2 {
  width: 50%;
  padding: 8px;
  text-align: justify;

}

.visimisi {
  text-align: center;
  font-size: 25px;
  margin-top: 20px;
}

.vm {
 font-size: 20px;
}

.vmd {
 font-size: 20px;
}